<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to 'Старт', root_path %></li>
    <li><%= link_to 'Пралік', bytowkas_path %></li>
    <li><%= link_to 'Курсы', courses_path %></li>
    <li><%= link_to 'Водгукі', testimonials_path %></li>
    <li><%= link_to 'Студэнты', students_path %></li>
  </ul>

   <% if session[:mentor_id] %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Адмінка', mentor_path %></li>
        <li><%= button_to 'Выйсьце', logout_path, method: :delete, class: 'btn navbar-btn' %></li>
      </ul>
  <% else %>
      <%= button_to 'Уваход', login_path, class: 'btn navbar-btn pull-right' %>
  <% end %>
</nav>